.App {
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cocktail_img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
}

#name {
  font-family: "Fascinate", cursive;
  font-size: 1.5em;
  font-weight: 300;
}

#instructions {
  font-size: smaller;
  /* padding-left: 250px;
  padding-right: 250px; */
  justify-content: center;
  padding-bottom: 100px;
}

h1 {
  font-family: "Fascinate Inline", cursive;
  font-size: 2.5em;
  color: white;
}

#main_text {
  font-weight: 200;
}

#button {
  font-size: 0.7em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#ingredient_text {
  font-size: 0.8em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#instructions {
  font-weight: 200;
  /* background-color: #c0d6df;
  border-radius: 10%; */
  margin-left: 250px;
  margin-right: 250px;
  /* padding-bottom: 10px; */
}

#main_body {
  background-color: #c0d6df;
  border-radius: 10%;
  margin-left: 250px;
  margin-right: 250px;
  padding-bottom: 10px;
}

#heading_body {
  background-color: coral;
  border-radius: 20%;
  margin-left: 275px;
  margin-right: 275px;
}

/* #background_img {
  background: url(https://images.unsplash.com/photo-1515238152791-8216bfdf89a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
